:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

body{
  margin:0;
  padding: 0;
}
main{
  margin: 20px;
}
a {
  text-decoration: none;
}
.header{
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: #6666;
  color: darkblue;
}
 .header .main{
  display: flex;
  gap: 15px;
 }

.header .main .nav-item{
  list-style-type: none;
}
.repo-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.repo-container .repo-item{
    height: 100px;
    background: #c2c2c2;;
    padding: 10px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.card .details{
  display: flex;

}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.courses{
  display: flex;
  flex-direction: column;
  gap: 10px;
}